* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #322f2f;
  color: #eadede;
  display: flex;
  justify-content: center;
} 